.salmon-header-box {
  border: 1px solid black;
  height: 20vh;
  background-color: salmon;
}

.headline {
  display: inline-block;
  margin: 60px;
}

.link {
  display: inline-block;
  margin: 20px;
  font-size: 150%;
  font-weight: normal;
}

.dotted-box {
  outline: dotted black;
}

.paragraph {
  font-weight: normal;
  font-size: 130%;
}
